<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690911908527-sj9jucjne2tb7mhcp5enqq59i5fntobc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690911908527-sj9jucjne2tb7mhcp5enqq59i5fntobc</string>
	<key>API_KEY</key>
	<string>AIzaSyDMjKqG1JpGoy4zh62ZeBmbPwGdLvDa7MI</string>
	<key>GCM_SENDER_ID</key>
	<string>690911908527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ichat</string>
	<key>PROJECT_ID</key>
	<string>chat-1813b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-1813b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690911908527:ios:2398c9b0e655d1404e7a5a</string>
</dict>
</plist>